body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    background-color: rgb(248, 246, 244);
}

header.flex{
    background-color: var(--footer-bg);
    color: var(--white);
    padding-block: .7rem;
    
}
header.flex  .fa-solid {
    color: var(--white);
}
header.flex .sign-in:hover,
header.flex .register:hover,
header.flex .cart:hover{
    border: 1px solid var(--white);
    transform: scale(1.05);
}
header.flex .logo:hover{
    transform: scale(1.04);
}
main article.product-details{
    background-color: var(--white);
    margin-inline: auto;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 5px;
    border-top-left-radius: 150px;
}
main article.product-details img{
    width: 40%;
    border-radius: 150px 0 150px 5px;
    border-right: 1px solid rgb(197, 191, 191);
}
main .card-content{
    margin-inline:  1.1rem;
}
main .card-content .description{
    text-align: left;
    margin-block: 3.4rem;
    line-height: 1.44rem;
    font-size: .96rem;
}
@media (max-width: 850px){
    main .card-content .description{
        margin-block: 1.5rem;
        
    }
    main article.product-details img{
        border-right: 1px solid rgb(197, 191, 191);
    }
}
@media (max-width: 730px){

    main article.flex{
        margin-top: 8%;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    main article.product-details{
        border-top-left-radius: 0;
    }
    main article.product-details img{
        border-radius: 5px 5px 0 0;
        width: 260px; 
        border-right: none;
    }
        
    
    main .card-content .description{
        margin-block: 1rem;
        
        
    }
    main article .card-content {
        margin-top: 1.25rem;
        border-top: 1px solid rgb(230, 221, 221);
        margin-bottom: 1.4rem;
    }
    article.product-details .card-content .title{
        margin-top: 1.25rem;
    }
}
@media (max-width: 370px){
    main article.product-details img{
        width: 160px;    }
        article.product-details .card-content .title h2{
            font-size: 1.1rem;
        }
}
main .card-content .title .price{
    font-size: 1.22rem;
    font-weight: bold;
    color: var(--red-button);
}
article.product-details .card-content .title{
    justify-content: space-between; 
}
main .card-content button.add-to-cart {
    text-transform: capitalize;
    background-color: var(--blue-button);
    color: var(--white);
    padding: 6px 8px;
    font-size: .9rem;
    border-radius: 4px;
    gap: .33rem;
    transition: all 0.2s ease;
}
main .card-content button.add-to-cart:hover {
    background-color: rgba(0, 0, 0, 0.945);
    color: var(--blue);
}
main .card-content button.add-to-cart:hover .fa-solid{
    color: var(--blue);
}
main .card-content button.add-to-cart .fa-solid{
    color: var(--white);
}